mixin accordion(title, classMod)
  if !classMod
    - classMod = ''

  div(class='accordion' + classMod)
    h4.accordion-title(data-accordion-target) #{title}
    div.accordion-content-wrapper
      div.accordion-content
        if block
          block
        else
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
mixin disclaimers(title, classMod)
  if !classMod
    - classMod = ''

  div(class='secondary-body disclaimers' + classMod)
    h4 #{title}
    if block
      block
    a.show-full-toggle(href="#")
      span Read more
      span Read less
mixin doc-bio-card-full(imgBio, videoLink, docTitle, docName, docLang, specialties, conditions, phone, classMod)
  if !classMod
    - classMod = ''

  div(class='doc-bio-full' + classMod)

    div.col-xs-12.col-sm-5.doc-pic
      img(src=imgBio)
      a.camera(href=videoLink)

    div.col-xs-12.col-sm-7.primary-info
      div.aspect-wrapper
        div.height-wrapper
          div.table-wrapper
            div.text-wrapper
              div.eyebrow #{docTitle}
              h3.blue-underline #{docName}
              h4 Speaks: #{docLang}
              div.proof-points.container-fluid
                div.col-sm-4
                  span 11
                  p Years of Experience
                div.col-sm-4
                  span 80+
                  p Types of Conditions Treated
                div.col-sm-4
                  span 48
                  p Published Articles

    div.col-md-7.col-xs-12.secondary-info      
      div.doc-specialties
        div
          span.eyebrow Specialties:
          each val, i in specialties
            if i >= specialties.length - 1
              a(href="#") #{val}
            else
              a(href="#") #{val},

        div
          span.eyebrow Conditions:
          each val, i in conditions
            if i >= specialties.length - 1
              a(href="#") #{val}
            else
              a(href="#") #{val},

      div.make-an-appt
        div.link-wrapper
            a.btn-secondary-white(href="#") Make An Appointment
            div.phone #{phone}

mixin doc-bio-card(imgBio, videoLink, docTitle, docName, docLang, specialties, phone, classMod)
  if !classMod
    - classMod = ''

  div(class='doc-bio' + classMod)

    div.col-xs-12.col-sm-5.doc-pic
      img(src=imgBio)
      a.camera(href=videoLink)
    div.col-xs-12.col-sm-7.primary-info
      div.aspect-wrapper
        div.height-wrapper
          div.table-wrapper
            div.text-wrapper
              div.eyebrow #{docTitle}
              h3.blue-underline #{docName}
              h4 Speaks: #{docLang}
    div.col-md-7.col-xs-12.secondary-info      
      div.doc-specialties
        div.eyebrow Specialties:
        p #{specialties}
      div.make-an-appt
        div.link-wrapper
            a.btn-secondary-white(href="#") Make An Appointment
            div.phone #{phone}

mixin featured-copy(title, classMod)
  if !classMod
    - classMod = ''

  div(class='featured-copy' + classMod)
    if title
      h3 #{title}
    if block
      block
    
mixin hero(title, bg, bgsmall, classMod)
  if !classMod
    - classMod = ''

  div(class='hero' + classMod)
    div.aspect-wrapper
      if bgsmall
        img(data-large-src=bg, data-small-src=bgsmall)
      else
        img(src=bg)

      div.height-wrapper
        div.table-wrapper
          div.text-wrapper
            div.col-xs-6.hidden-xs
            h1.col-xs-10.col-sm-6 #{title}
mixin media-carousel(title, classMod)
  if !classMod
    - classMod = ''

  div(class='media' + classMod)
    if title
      h3 #{title}
    a(href="#").arrow.left-arrow previous
    a(href="#").arrow.right-arrow next
    div.media-carousel
      block
mixin media-item(title, img, cta, ctalink, classMod)
  if !classMod
    - classMod = ''

  if !cta
    - cta = 'See Inside'

  if !ctalink
    - ctalink = '#'

  div(class='item col-xs-12' + classMod)
    div.media-img
      img(src=img)
    div.media-text
      div.aspect-wrapper
        div.height-wrapper
          div.table-wrapper
            div.text-wrapper
              h3 #{title}
              if block
                block
              else
                p We commissioned LEGO master builder Dan Steininger to create a 100,000-piece replica of our hospital to greet kids as they entered the second floor—which has become a permanent attraction here.
              a.btn-secondary(href=ctalink) #{cta}
mixin meet-the-doc(title, classMod)
  if !classMod
    - classMod = ''

  div(class='row full-width meet-the-doc' + classMod)
    div.col-sm-10.col-xs-12.col-centered
      +share-links('#','#','#','#','#','javascript:void(0)','#',false,' break-medium')
      div.left-white-border
        h2 #{title}
        if block
          block
    
mixin mosaic(title, imgLeft, eyebrow, header, desc, btnLink, btnLabel, imgRight, classMod)
  if !classMod
    - classMod = ''

  h3 #{title}
  div(class='mosaic' + classMod)

    div.col-sm-6.col-xs-12.mosaic-left
      img(src=imgLeft)
    div.col-sm-6.col-xs-12.mosaic-top-right
      div.aspect-wrapper
        div.height-wrapper
          div.table-wrapper
            div.text-wrapper
              div.eyebrow.visible-md.visible-lg #{eyebrow}
              h3 #{header}
              p.visible-md.visible-lg #{desc}
              a.btn-secondary(href=btnLink) #{btnLabel}
    div.col-sm-6.mosaic-bottom-right
      img(src=imgRight)
mixin primary-action-cta(img, title, button, classMod)
  if !classMod
    - classMod = ''

  div(class='col-xs-12 primary-action-cta' + classMod)
    if img 
      img(src=img)
    h4 #{title}
    if block
      block
    a.btn-secondary(href="#") #{button}
    
mixin primary-action-ctas(title, classMod)
  if !classMod
    - classMod = ''

  div(class='secondary-body' + classMod)
    if title
      h3 #{title}
    div.row
      if block
        block
    
mixin pull-quote(quote)
  div.pull-quote-spacer
  if quote
    p.pull-quote.col-sm-6 #{quote}
  else
    p.pull-quote.col-sm-6 Pull Quote: Montserrat Bold #6793c5 30/40
  if block
    block
mixin quotes(img, quote, attribution, classMod)
  if !classMod
    - classMod = ''

  div(class='quotes' + classMod)
    
    if img
      img(src=img).col-xs-12.col-sm-2
    div.block
      p.quote #{quote}
      h4.attribution - #{attribution}

      if block
        block
    
mixin related-item(title, img, classMod)
  if !classMod
    - classMod = ''

  div(class='item col-xs-12 col-sm-4' + classMod)
    img(src=img)
    a.header-link(href="#") #{title}
    if block
      block
    else
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
mixin related(title, classMod)
  if !classMod
    - classMod = ''

  div(class='related' + classMod)
    if title
      h3 #{title}
    if block
      div.related-carousel
        block
      a.btn-load.hidden-xs(href="#") Load More
mixin share-links(facebook, twitter, linkedin, email, print, eng, spa, spaActive, classMod)
  if !classMod
    - classMod = ''

  div(class='share-links' + classMod)
    a.facebook-link(href=facebook) facebook
    a.twitter-link(href=twitter) twitter
    a.linkedin-link(href=linkedin) linkedin
    a.email-link(href=email) email
    a.print-link(href=print) print

    span.language-toggle
      if spaActive
        a(href=eng) eng
        a.selected(href=spa) spa
      else
        a.selected(href=eng) eng
        a(href=spa) spa
mixin testimonial(title, attribution, classMod)
  if !classMod
    - classMod = ''

  div(class='testimonial col-xs-12' + classMod)
    div.eyebrow #{title}
    
    if block
      block
    h4.attribution - #{attribution}

    
mixin testimonials(title, classMod)
  if !classMod
    - classMod = ''

  div(class='testimonial' + classMod)
    if title
      h3 #{title}

    if block
      block

    hr.col-xs-12.col-centered.yellow-divider
mixin video(title, bg, videoid, classMod)
  if !classMod
    - classMod = ''

  div(class='video' + classMod, data-video-id=videoid)
    img.video-still(src=bg)
    div.height-wrapper-xs
      div.table-wrapper-xs
        div.text-wrapper-xs
          h1 #{title}
          img(src='/assets/img/play-btn.png')
    div.video-wrapper